<div {{ this.bbcontent(null, {'class': 'row'})|raw }}>
    <div {{ this.bbcontent(first_container, {'class': 'col-sm-4'})|raw }}></div>
    <div {{ this.bbcontent(second_container, {'class': 'col-sm-4'})|raw }}></div>
    <div {{ this.bbcontent(third_container, {'class': 'col-sm-4'})|raw }}></div>
</div>