
/*BTN SHARRE */
.btn-twitter {
    background-color: #5BC0DE;
    border-color: #5BC0DE;
    color: #FFFFFF;
}

.btn-facebook {
    background-color: #3B5998;
    border-color: #6d84b4;
    color: #FFFFFF;
}

.btn-googleplus {
    background-color: #d34836;
    border-color: #d34836;
    color: #FFFFFF;
}

.btn-linkedin {
    background-color: #007bb6;
    border-color: #2d2d2d;
    color: #FFFFFF;
}

.article .facebook:after {font-family: 'FontAwesome'; content: "";
  background-color: #3B5998;
  border-color: #6D84B4;
  color: #FFFFFF;
}
.art-c .facebook:after {
  font-family: 'FontAwesome'; content: "";
}

.article .twitter:after {font-family: 'FontAwesome'; content: "";
  background-color: #5BC0DE;
  border-color: #5BC0DE;
  color: #FFFFFF;
}
.art-c .twitter:after {
  font-family: 'FontAwesome'; content: "";
}

.article .googleplus:after {font-family: 'FontAwesome'; content: "";
  background-color: #D34836;
  border-color: #D34836;
  color: #FFFFFF;
}
.art-c .googleplus:after {
  font-family: 'FontAwesome'; content: "";
}

.article .linkedin:after {font-family: 'FontAwesome'; content: "";
  background-color: #007BB6;
  border-color: #2D2D2D;
  color: #FFFFFF;
}
.art-c .linkedin:after {
  font-family: 'FontAwesome'; content: "";
}

.article .sharrre:after {
  font-size: 20px;
  line-height: 40px;
  margin-bottom: -1px;
  margin-right: -1px;
  padding: 0;
  width: 40px;

  -moz-user-select: none;
  background-image: none;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  font-weight: normal;
  line-height: 1.42857;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;

  margin-bottom: 10px;
}

.art-c .sharrre .count {display: none;}

.article .sharrre .count {
  position: absolute;
  right: -10px;
  top: -8px;
  z-index: 2;
  background-color: #999999;
  border-radius: 10px;
  color: #FFFFFF;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  min-width: 10px;
  padding: 3px 7px;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}

/* navbar MEDIAPLAYER */
#mediaplayer-nav {height:auto; padding:10px;}
.navbar-mediaplayer {    border: medium none; height: 50px; line-height: 50px;}
.navbar-mediaplayer .navbar-nav > li > a.selected {color:#fff;}


/* BLOC OPINIONS */
.bloc-title-inset {color:#fff; background-color:#E2552A; padding:2px 5px;text-transform:uppercase; font-weight:bold; position:absolute; top:-15px; width:90px; text-align:center; left:50%; margin-left:-45px;}
.bloc-title-inset .figure {margin-bottom: 20px;}
.bloc-title-inset:after {border-color: #E2552A rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 15px 15px 0;
  border-color: transparent #E2552A transparent transparent;
  line-height: 0px;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
  bottom: -10px;
  content: "";
  left: 50%;
  margin-left: -10px;
  position: absolute;
  z-index: 1;}

.bloc-opinion .title-opinion-big {font-size:30px; line-height: 32px; text-align: center; margin-bottom: 10px;
    margin-top: 20px;}
.bloc-opinion .title-opinion {font-size:22px; line-height: 24px; text-align: center; margin-bottom: 10px;
    margin-top: 20px;}
.bloc-opinion .art-body .btn-opinion {padding:2px; min-width: 100px; border-radius: 4px; margin: 0 5px; font-weight: bold;}
.bloc-opinion .groupe-btn-opinion {margin-top: 15px;}

/* PAGE ARTICLE OPINIONS */

.bloc-opinions {background-color: #24282A; color:#fff; padding:19px; color: #FFFFFF; margin: 0 -30px 20px -58px; }
.bloc-opinions h1 {margin:0px; margin-bottom: 15px; margin-top:10px;}
.bloc-opinions .article-chapo {font-size:15px; line-height: 19px; color:#ccc;}
.bloc-opinions .bloc-title-inset {left:55px; top:-40px; width:auto; font-size:16px; padding:3px 10px;}
.bloc-opinions .results {border:1px solid #555; padding:18px; margin-top: 19px;}

.over-hidden {overflow:hidden;}
.txt-left {text-align: left;}
.txt-right {text-align: right;}

.results-content {font-size:12px; margin-bottom:10px;}
.results-content .pourcent-result-2 {min-width:50%;}
.results .line-result-min {height:10px; display:block;}
.results .line-result {height:40px; display:block;}
.results .btn-opinion {margin-bottom: 10px;}
.results .c {color:#fff; font-size: 12px; line-height:34px; height:34px; overflow: hidden;}
.color-op-1 {color: #464E51;}
.bg-color-op-1 {background-color: #464E51;}
.bg-color-op-2 {background-color:#2E3639;}

.results .a { font-size:12px; line-height: 10px; margin-bottom: 19px;}
.bloc-opinions .metadata-wrapper [class^="metadata-"] {color:#ccc; font-size:11px; line-height: 11px; }
.bloc-opinions .selected, .bloc-opinions .unselected {
position:absolute; top:0px; bottom:0px; left:0px; right:0px; border:3px solid #fff; z-index:1000; display: none;}
.bloc-opinions .selected { cursor: pointer; display: block; }
.bloc-opinions .selected .fa {position:absolute; right:-10px; top:-12px; font-size:18px;}
.bloc-opinions .selected .fa-circle {color:#000;}
.bloc-opinions .selected .fa-check-circle {color:#fff;}
.results-list {line-height: 40px;}
.results.results-list {border:none; border-left:1px solid #555; padding:0 0 0 19px;}
.results-list .result-img {height:40px; overflow: hidden;}
.results-list .results-element, .results .bloc-vote {margin-bottom: 10px;}
.results-list .result-name {position:absolute; left:20px; height:40px;}
.results-list .result-pourc {position:absolute; right:20px; height:40px; color:#DB0303;}

.over-hidden {overflow:hidden;}
.txt-left {text-align: left;}
.txt-right {text-align: right;}


/* GLOBAL */
.pagination.reverse > li > a {background-color: transparent; border-color: #666;}

.blur {
  -webkit-filter: blur(50px);
  filter: url('../filters.svg#blur');
}

.white-back {background-color:rgba(255,255,255,0.8); border-top: 5px solid #000;}
.triangle-top.triangle-b:after {top:0;}

.gradient{
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(15,15,15,0.72) 54%, rgba(28,28,28,0.72) 99%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(54%,rgba(15,15,15,0.72)), color-stop(99%,rgba(28,28,28,0.72)));
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(15,15,15,0.72) 54%,rgba(28,28,28,0.72) 99%);
background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(15,15,15,0.72) 54%,rgba(28,28,28,0.72) 99%);
background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(15,15,15,0.72) 54%,rgba(28,28,28,0.72) 99%);
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(15,15,15,0.72) 54%,rgba(28,28,28,0.72) 99%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b81c1c1c',GradientType=0 );
}

/* VIDEO - DIAPORAMA */
.rub-date {font-size:12px; position:absolute; bottom:0px; left:0px; right:0px;}
.rub-date .rub {background-color: #4499CC; padding: 2px 5px 1px;}
.rub-date .time {background-color: #000; padding: 2px 5px 1px; color:#fff;}
.art-media .fa {line-height: 35px;}

/* BLOC BOTTOM RUBRIQUE */
.bloc-bottom .nav-pills {line-height: 28px;}
.bloc-bottom .nav-separator:before {
  border-right: 1px solid #DFDFDF;
  bottom: 20%;
  content: "";
  left: 0;
  position: absolute;
  top: 20%;
  width: 1px;
}

.bloc-bottom .navbar-form .btn {
  border-left:0px;
  margin-left: -5px;
}

.bloc-bottom {border-top: 1px solid #DFDFDF;}

.bloc-bottom .nav > li > a {
  display: block;
  padding: 10px 15px;
  position: relative;
}

/* ARTICLE */
.art-boutton-sharre {}
.art-boutton-sharre .btn {margin-bottom: 10px; font-size:15px; width:40px;}
.art-boutton-sharre .badge {position:absolute; top:-8px; right:-10px; z-index: 2;}

/* BTN Article Sharre */
.art-sharre {position:absolute; bottom:2px; left:2px;}
.art-bloc .bg-color-0 .art-sharre {right:15px;}
.art-bloc .bg-color-0 .art-more {left:15px;}

/* HOME */
.btn-direct-show {height:32px; position:absolute; bottom:10px; font-size:16px; left:10px; line-height:32px; vertical-align:middle; background-color:#fff;}
.btn-direct-show .text {padding:0px 10px 0 10px;}

.absolute-body {position:absolute; bottom:0px; right:0px; left:0; padding:10px;}
.absolute-body.gradient, .absolute-body.gradient a {color:#fff; padding-top:40px;}

/* HOME SECTOR */
.page-title {font-size: 36px; line-height: 36px;}

/* FOOTER */
#footer{/*margin-top: 60px; height:300px; background-color: #aaa;*/}

#footer{background:#fff;}

#footer .groupe{background:#363636;color:#fff;}
#footer .groupe a{color:#fff;}

#footer .site-groupe{font-size:12px;color:#666;}
#footer .site-partenaire{font-size:11px;font-weight:bold;color:#666;}



/** ANIMATE BLOC **/
.connect-popup {
  background: none repeat scroll 0 0 #FFFFFF;
  box-shadow: 4px 4px 20px #333;
  margin: 0 auto;
  width: 300px;
  max-width: 800px;
  padding: 20px;
  position: relative;
}
.connect-popup .title {font-size:20px; margin:10px 0;}
.connect-popup .btn-subscription {margin:20px 0; border-radius: 5px;}
.connect-popup .font-min {font-size:13px;}

.white-popup {
  background: none repeat scroll 0 0 #FFFFFF;
  box-shadow: 4px 4px 20px #333;
  margin: 0 auto;
  width: 95%;
  max-width: 800px;
  padding: 20px;
  position: relative;
}

.white-popup .form-horizontal {margin-top:20px;}

.et-wrapper .et-page {}

button.et-rotate {
    background-color: rgba(0, 0, 0, 0.1);
    bottom: 1px;
    color: rgba(255, 255, 255, 0.9);
    position: absolute;
    right: 0px;
    z-index: 999;
}

/* ====== Zoom effect ====== */

.mfp-zoom-in {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}
.mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1);
}
.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-zoom-in.mfp-removing .mfp-with-anim {
  transform: scale(0.8);
  opacity: 0;
}
.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

/* ====== Newspaper effect ====== */

.mfp-newspaper {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-newspaper .mfp-with-anim {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.5s;
  transform: scale(0) rotate(500deg);
}
.mfp-newspaper.mfp-bg {
  opacity: 0;
  transition: all 0.5s;
}
.mfp-newspaper.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1) rotate(0deg);
}
.mfp-newspaper.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-newspaper.mfp-removing .mfp-with-anim {
  transform: scale(0) rotate(500deg);
  opacity: 0;
}
.mfp-newspaper.mfp-removing.mfp-bg {
  opacity: 0;
}

/* 

====== Move-horizontal effect ======

*/
.mfp-move-horizontal {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-move-horizontal .mfp-with-anim {
  opacity: 0;
  transition: all 0.3s;
  transform: translateX(-50px);
}
.mfp-move-horizontal.mfp-bg {
  opacity: 0;
  transition: all 0.3s;
}
.mfp-move-horizontal.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: translateX(0);
}
.mfp-move-horizontal.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-move-horizontal.mfp-removing .mfp-with-anim {
  transform: translateX(50px);
  opacity: 0;
}
.mfp-move-horizontal.mfp-removing.mfp-bg {
  opacity: 0;
}

/* 

====== Move-from-top effect ======

*/
.mfp-move-from-top {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-move-from-top .mfp-content {
  vertical-align: top;
}
.mfp-move-from-top .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s;
  transform: translateY(-100px);
}
.mfp-move-from-top.mfp-bg {
  opacity: 0;
  transition: all 0.2s;
}
.mfp-move-from-top.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: translateY(0);
}
.mfp-move-from-top.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-move-from-top.mfp-removing .mfp-with-anim {
  transform: translateY(-50px);
  opacity: 0;
}
.mfp-move-from-top.mfp-removing.mfp-bg {
  opacity: 0;
}

/* 

====== 3d unfold ======

*/

.mfp-3d-unfold {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-3d-unfold .mfp-content {
  perspective: 2000px;
}
.mfp-3d-unfold .mfp-with-anim {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform-style: preserve-3d;
  transform: rotateY(-60deg);
}
.mfp-3d-unfold.mfp-bg {
  opacity: 0;
  transition: all 0.5s;
}
.mfp-3d-unfold.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: rotateY(0deg);
}
.mfp-3d-unfold.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-3d-unfold.mfp-removing .mfp-with-anim {
  transform: rotateY(60deg);
  opacity: 0;
}
.mfp-3d-unfold.mfp-removing.mfp-bg {
  opacity: 0;
}


/* 

====== Zoom-out effect ======

*/
.mfp-zoom-out {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-zoom-out .mfp-with-anim {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: scale(1.3);
}
.mfp-zoom-out.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.mfp-zoom-out.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1);
}
.mfp-zoom-out.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-zoom-out.mfp-removing .mfp-with-anim {
  transform: scale(1.3);
  opacity: 0;
}
.mfp-zoom-out.mfp-removing.mfp-bg {
  opacity: 0;
}

/* 

====== "Hinge" close effect ======

*/

/*
@keyframes hinge {
  0% {
    transform: rotate(0);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }

  20%, 60% {
    transform: rotate(80deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }

  40% {
    transform: rotate(60deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }

  80% {
    transform: rotate(60deg) translateY(0);
    opacity: 1;
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }

  100% {
    transform: translateY(700px);
    opacity: 0;
  }
}
*/

.hinge {
  animation-duration: 1s;
  animation-name: hinge;
}

.mfp-with-fade .mfp-content, .mfp-with-fade.mfp-bg {
  opacity: 0;
  transition: opacity .5s ease-out;
}
.mfp-with-fade.mfp-ready .mfp-content {
  opacity: 1;
}
.mfp-with-fade.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-with-fade.mfp-removing.mfp-bg {
  opacity: 0;
}



/*
OPINION
*/


/* RESPONSIVE */
@media (min-width: 768px) and (max-width: 991px) {
  /*HEADER videos*/
  #mediaplayer-nav {min-width:1000px; }
}

@media (max-width: 767px) {
  /*Specifique pour home video*/
    /*HEADER videos*/
  #live-video-megaplayer {overflow: scroll;}
  #live-video-megaplayer .live-video-megaplayer {min-width:1000px;}
  #mediaplayer-nav {padding:0px; min-width:1000px; }
  #subheader {width:100%; overflow: scroll;}

  /*Article*/
  .comment-post-reply {margin: 19px 0 0 20px;}
  .article h1 {
    font-size: 24px;
    padding-right: 0px;
  }
  .article .article-chapo {
    font-size: 16px;
  }

  /*All*/
  .main_containt {box-shadow: 0 0 0 rgba(0, 0, 0, 0); margin : 0px;}
}



@media (max-width: 650px) {
  /*Specifique pour home video*/
    /*Listes videos*/
  .bloc-rub-video .bloc.art-bloc, .bloc.art-list {
      border-bottom: 0px solid #AAAAAA;
      margin-bottom: 0;
      padding-bottom: 5px;
      padding-top: 5px;
  }
  .gotomore {padding:20px 13px;}
  .bloc-rub-video .padding-top {padding-top: 0px;}

    /*HEADER videos*/
  #mediaplayer-nav .navbar-nav > li {float: left;}
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {border: none;}

  /*****************
  Home
  *****************/

  /*HOME sector */
  .page-title {font-size: 20px; line-height: 20px; margin:0px; padding: 10px 5px; background-color: #333333; color: #fff; text-align: center; display: block;}

  /*BFM Home*/
  #bfmtv .title-bigx2 {font-size: 26px; line-height: 28px; margin-bottom: 10px;}
  #bfmtv .big-news {margin-left: -5px; margin-right: -5px;}
  #bfmtv .big-news .art-body {padding:0 5px;}
  #bfmtv .big-news .figure {height:200px;}
  #bfmtv .bloc {margin: 0px;}
  #bfmtv .art-list .modulx1 .figure {width:100px;}
  #bfmtv .title-normal, #bfmtv .title-medium {font-size: 18px; line-height: 20px; margin: 0;}

  /*RMC SPORT Home*/
  #rmcsport .bloc-depeche-2 {height:180px;}
  #rmcsport .big-news {margin-left: -5px; margin-right: -5px; height:250px;}
  #rmcsport .big-news .art-body {padding:0 5px;}
  #rmcsport .big-news [class^="title-"] {font-size:28px; line-height:30px;}
  #rmcsport .art-bloc [class^="title-"] {font-size: 17px; line-height: 19px; margin: 0;}
  #rmcsport .art-bloc .absolute-body a {color: #333333;}
  #rmcsport .bloc {margin: 0 0 5px 0;}
  #rmcsport .art-bloc, #rmcsport .bloc-more {margin: 0px;}
  #rmcsport .bloc-title-2 {margin: -10px -5px 25px;}
  #rmcsport .bloc-rub-video {margin-bottom: 5px;}

  /* 01NET Home*/
  #net .art-bloc [class^="title-"] {font-size: 17px; line-height: 19px; margin: 0;}
  #net .art-bloc .absolute-body a {color: #333333;}
  #net .bloc {margin: 0px;}

  .art-comment {border:0px;}
  .art-comment .btn-opinion {border-radius: 0 0 0 10px; font-size: 10px;}
  .art-bloc .white-back, .art-bloc .white-back.triangle-b:after {border:0 none !important;}
  .art-bloc .art-alert {font-size: 11px; line-height: 12px;}

    /*TODELETE APRES CORRECTION*/
    .subheader {overflow: hidden;}

  /*All*/
  /* icon video pour illustrer les articles*/
  .icon-video-big {
    left: 50%;
    margin-left: -15px;
    margin-top: -22px;
    position: absolute;
    top: 50%;
  }
  .icon-video-big .media-background {
    color: #333333;
    font-size: 33px;
    opacity: 0.6;
  }
  .icon-video-big .media-icon {
    color: #FFFFFF;
    font-size: 30px;
    left: -1px;
    opacity: 0.8;
    position: absolute;
    top: 3px;
  }

  .main_containt {padding:0 5px 10px 5px;}
  .art-bloc [class*="modulx"], .art-list [class*="modulx"] {height: 80px;}
  .art-bloc .art-c {display:table;}
  .art-bloc .figure, .art-list .figure {width:100px; height:80px; margin-right:10px; overflow:hidden; padding:0px;}
  .art-list .block {display: table !important;}
  .art-bloc .figure .art-img {width:100%;}
  .art-bloc .figure .img-responsive {height:100%;}
  .art-bloc .art-body {display:table-cell; vertical-align:middle; width:100%; padding:0px !important;}
  .art-c.bg-color-0.box-h2-medium .art-body {padding:0px;}
  .art-bloc .art-body h2, .art-bloc .art-body h3 {margin:0px;}
  .art-bloc .icon-video-small {left:20px; top:2px;}
  .art-bloc article.border-b {border:0px;}
  .art-bloc .absolute-body {position:relative; padding:0px; color:#333333;}
  .art-bloc .gradient {background: none;}
  .art-list .art-body {padding: 0px; width:100%;}
  .art-list .art-comment {right:0px;}

  .art-list .figure .art-img {height: 100%; width:100%;}
  .bloc.art-bloc, .bloc.art-list {margin-bottom: 0px; padding-bottom:5px;  padding-top:5px; border-bottom: 1px solid #aaa;}

  .bloc-media .art-body {padding:0px;}
  .box-h2-small h2 {font-weight:bold;}

  .bloc-rub-video .modulx4 {height:auto;}
  .et-wrapper.art-bloc.modulx4 {height:90px;}
  .bloc.et-wrapper {margin-bottom:5px;}
  .box-h2-medium h2 {font-size:14px; line-height: 16px;}
}






/**************************
LP digital
*********************/

.art-comment, .triangle-b:after, .triangle-b:before {display:none;}
img.border-default-b, img.border-b {border-width:0;}
.border-default-bx2, .border-bx2 {border-width:1px;}
article.border-default-b, article.border-b {border-width:1px; border-color:#DFDFDF}
[class*=" slider-wrapper"] .slider-controller [class^="slider-button-"] a {border-width:0;}
.bg-color-rub0-1 {background-color:#D8D8D8;}
.rub0 .bg-color {background-color:#a0a0a0!important;}
.rub0 .bg-color .color-txt-0 {color:#fff!important;}
.rub0 .bg-color-rub0 {background-color:#fff; color:#333;}
.rub0 .bg-color-rub0 .color-txt-0 {color:#333!important;}
.rub0 .bg-color-rub0 a:hover .color-txt-0 {color:#E2552A!important;}
.bloc-rub-video [class*=" slider-wrapper"] .slider-controller [class^="slider-button-"] a {color:#333!important;}

#sidebar .box-wrapper h3 {font-weight:normal; font-size:14px;}

.breadcrumb {border-color:#DFDFDF;}
.breadcrumb a {color:#666!important;}

#portail-bar {background-color:#fff;}
#portail-bar .navbar-brand {padding:20px 15px;}
#portail-bar .tool-nav {padding-top:20px;}
#subheader .navbar-default {background-color:#2F2F2F; border-bottom:3px solid #E2552A;}
.white-back {border-color:#E2552A!important;}

/*NAV*/
#subheader .navbar-default .navbar-nav > .active > a {background-color:#000;}
/**/
#subheader .navbar-default .navbar-nav {display:table; width:100%; font-size:18px;}
#subheader .navbar-default .navbar-nav > li {display:table-cell; float:none;}
#subheader .navbar-default .navbar-nav > li > a {color:#fff; display:block; text-align:center; text-shadow: 1px 1px 0 #000; padding-top:13px; padding-bottom:13px; text-transform:uppercase; font-family:'Oswald', sans-serif; border-left:1px solid #3a3a3a; border-right:1px solid #252525;}
#subheader .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {}

/*
FOOTER
*/

#footer .footer-sitemap a {color:#6C6B66; padding:0; display:inline;}
#footer .footer-sitemap a:hover {text-decoration:underline; background-color:transparent;}
#footer .footer-sitemap h2 {font-family:Arial, Helvetica, sans-serif; font-size:1.0714em; font-weight:700; text-align:left; margin:1.333em 0 0.666em 0;}
#footer .footer-sitemap h2, #footer .footer-sitemap h2 a {color:#333333;}
#footer .footer-sitemap ul {font-size:0.9285em;}
#footer .footer-sitemap ul li {margin:4px 0;}
.footer-copyright {max-width:1140px; margin:0 auto; padding:1.071em 0 1.786em 0; border-top:#E1E1E1 1px solid;}
.footer-copyright .social-tool-wrapper {display:inline-block; vertical-align:top;}
.footer-copyright .nav > li > a {display:inline-block;}
.footer-copyright .social-tool-wrapper ul {margin:0; list-style:none;}
.footer-copyright .social-tool-wrapper ul li {display:inline-block;}
.footer-copyright .social-tool-wrapper ul li a {display:block; width:30px; height:30px; font-size:1.5em; color:#6C6B66; border:solid 1px rgba(108,107,102,0.55);}
.lt-ie9 .footer-copyright .social-tool-wrapper ul li a {border:solid 1px #6C6B66;}
.footer-copyright .social-tool-wrapper ul li .fa {line-height:30px;}
.footer-copyright .btn.btn-dimmed {margin:0 0 1em 0;}
.footer-copyright .text-align-right {text-align:right;}

/*Noscript*/
noscript p {display:block; padding:10px; color:#fff; font-size:1em; text-shadow:1px 1px 1px #666; background-color:red;}

/*Accessibility top links*/
#access-shortcuts-wrapper {}
#access-shortcuts-wrapper {position:relative;}
#access-shortcuts-wrapper ul {position:absolute; top:0; left:0; right:0; z-index:10000; margin:0; padding:0; height:0; overflow:hidden; background-color:#f9f9f9; -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25); box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);}
#access-shortcuts-wrapper ul li {float:left; padding:1em; list-style:none; position:relative; background:none;}
#access-shortcuts-wrapper a {color:#000;}
#access-shortcuts-wrapper a:hover, #access-shortcuts-wrapper a:focus {}

/*
Patch
*/
/*ie<10 cannot handle css animations*/
.lt-ie10 #wrap .et-rotate {display:none !important;} /*Hiding buttons that trigger css animations*/
.lt-ie9 #wrap ul > .et-wrapper {}

/*
Nav 
*/
/*--> rub-nav*/
#portail-bar .rub-nav {border-right:solid 1px #E7E7E7;}
#portail-bar .rub-nav li {text-transform:uppercase !important;}
#portail-bar .rub-nav li a {padding:0;}/*8px 12px*/
#portail-bar .rub-nav li span {display:block; padding:8px 12px; border-left:solid 1px #E7E7E7; border-right:solid 1px #FFF;}
#portail-bar .rub-nav li:first-child span {border-left:0;}
#portail-bar .rub-nav .active span {border-right-width:0;} /*Removing right border when li is active*/
#pane-menu .pane-menu-nav .mobile-nav .menu-header a  {padding:0;}
.rub-nav .rub1.active > a, .mobile-nav .rub1.active .menu-header, .mobile-nav .rub1.active .menu-header a {color:#fff; background-color:#005d8d;}
.rub-nav .rub2.active > a, .mobile-nav .rub2.active .menu-header {color:#fff; background-color:#db0303;}
.rub-nav .rub3.active > a, .mobile-nav .rub3.active .menu-header {color:#fff; background-color:#fcb713;}
.rub-nav .rub4.active > a, .mobile-nav .rub4.active .menu-header {color:#fff; background-color:#2e97fb;}
.rub-nav .rub5.active > a, .mobile-nav .rub5.active .menu-header {color:#fff; background-color:#989797;}
.rub-nav .rub6.active > a, .mobile-nav .rub6.active .menu-header {color:#fff; background-color:#007b00;}
.rub-nav .rub0.active > a, .mobile-nav .rub0.active .menu-header {color:#fff; background-color:#333333;}

#subheader .navbar-rub {z-index:auto;}


/*Sharing tools*/
/*CAUTION: Not using display none 'coz accessibility issues; using Boilerplate visuallyhidden class instead*/
.no-js .sharing-tool-wrapper {display:none;} /*Hidden if no JS*/
.sharing-tool-wrapper {z-index:10000; position:relative; margin:0 0 19px 0; background-color:#fff;}
.sharing-tool-wrapper ul {font-size:0px;} /*Cleaning display inline extra space*/
.sharing-tool-wrapper ul li {position:relative; font-size:14px; padding:0;} /*Reseting font suze to normal*/
.sharing-tool-wrapper ul li a {display:inline-block;}
.sharing-tool-wrapper ul li .btn {padding:0; font-size:20px; line-height:38px; width:40px; margin-right:-1px; margin-bottom:10px;} /*Trying to erase double border on btn*/
.js .sharing-tool-wrapper ul li .sharing-tool-pane {visibility:hidden; opacity:0; 
-moz-transition: opacity 0.5s ease-out;
-webkit-transition: opacity 0.5s ease-out;
transition: opacity 0.5s ease-out;} /*Hidding while loading*/
.sharing-tool-wrapper ul li .sharing-tool-pane {position:absolute; top:38px; left:0; width:271px; padding:10px; margin:0; line-height:110%; border:solid 1px #DFDFDF; background-color:#fff;}
.sharing-tool-wrapper ul li .sharing-tool-pane>i {font-size:11px; color:#666; font-style:normal; text-transform:uppercase;}
.sharing-tool-wrapper ul li .sharing-tool-pane>b {font-size:14px; color:#000; display:block;}
.sharing-tool-spacer {margin-top:0; margin-left:19px;}

/*--> RWD */
/*MinW992 upTo119999*/
@media (min-width: 992px) and (max-width: 119999px) {
/**/
.article {padding-left:45px; padding-right:45px;}
.article .header .metadata-wrapper .metadata-comment .visible-md {display:inline-block !important;}
.article h1 {/*padding-right:122px 119+3*/;}
/**/
.sharing-tool-wrapper {margin-bottom:0;}
.sharing-tool-wrapper ul {position:absolute; left:-58px;/*40+10*/}
.sharing-tool-wrapper .list-inline > li {display:list-item;}
.sharing-tool-wrapper ul li .sharing-tool-pane {top:0; left:39px;}
.sharing-tool-spacer {margin-top:19px; margin-left:0;}

/*End RWD*/
}

@media (max-width: 1000px) {
  #portail-bar .rub-nav li span {padding-left:8px; padding-right:8px; font-size:13px;}
}

@media (max-width: 900px) {
  #portail-bar .rub-nav li span {padding-left:6px; padding-right:6px; font-size:12px;}
}
/*--> tool-nav*/
#portail-bar {z-index:900;}
#portail-bar .tool-nav {border-left:solid 1px #FFF;}
#portail-bar .tool-nav li a {padding:10px 12px;} /*8px 12px -> 10px 12px Top/bottom padding increased to compensate 4px top border from rub-nav*/
#portail-bar .tool-nav .user-account-name {display:none;}
/*--> RWD */
@media (max-width: 1120px) {
#portail-bar .tool-nav > li {display:none;}
#portail-bar .tool-nav > li:last-child {display:block;}
}
/*
subheader-sticky-wrapper
*/
#subheader-sticky-wrapper {}
/*-> subheader*/
#subheader-sticky-wrapper #subheader {}
#subheader-sticky-wrapper .subheader {z-index:800;} /*Patching bootstrap*/
/*-> subheader*/
.subheader .navbar-header {}
/* .subheader .navbar-brand img {max-width:70px;} brand icon is set to 70px max*/
.subheader .navbar-wrapper.navbar-collapse {padding-left:0; padding-right:0;} /*Removing padding*/
.subheader .navbar-wrapper .navbar-inner-wrapper {}
.subheader .navbar-collapse .navbar-nav.navbar-right:last-child {margin-right:auto;} /*Removing negative margin*/
.subheader b, .subheader i {font-style:normal; display:block;}
.subheader .navbar-nav > li > a:focus {color:#fff;}
/*-> on the air*/
.subheader .ontheair-wrapper {}
.subheader .ontheair-wrapper a {}
.subheader .ontheair-wrapper a img {z-index:10000;}
.subheader .ontheair-wrapper [class^="ontheair-"] {float:left; height:54px;}
.subheader .ontheair-wrapper .ontheair-pix {position:relative; width:80px; font-size:15px;}/*image 80x60*/
.subheader .ontheair-wrapper .ontheair-program {max-width:163px; padding:10px 0 0 0; color:#fff; line-height:125%; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.subheader .ontheair-wrapper .ontheair-badge {height:auto; margin:20px 0 0 15px; -moz-border-radius:0; border-radius:0;}
.rub1 .subheader .ontheair-wrapper .ontheair-badge {background-color:#005d8d;}
.rub2 .subheader .ontheair-wrapper .ontheair-badge {background-color:#db0303;}
.rub3 .subheader .ontheair-wrapper .ontheair-badge {background-color:#fcb713;}
.rub4 .subheader .ontheair-wrapper .ontheair-badge {background-color:#2e97fb;}
.rub5 .subheader .ontheair-wrapper .ontheair-badge {background-color:#989797;}
.rub6 .subheader .ontheair-wrapper .ontheair-badge {background-color:#007b00;}
/*--> RWD */
@media (max-width: 860px) {
/*.subheader .ontheair-wrapper .ontheair-pix {display:none;}*/
.subheader .ontheair-wrapper .ontheair-program {max-width:115px;}
.subheader .ontheair-wrapper .ontheair-program b {white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
}
/*-> search-wrapper*/
.search-wrapper {float:left; max-width:219px; padding:10px 0 0 0;}
.search-wrapper .form-control {max-width:171px;}
.search-wrapper input[type="text"] {-webkit-appearance: none;}
/*--> RWD */
@media (max-width: 925px) {
.search-wrapper {float:left; max-width:165px;}
.search-wrapper .form-control {max-width:117px;}
}
/*-> player-wrapper*/
.player-wrapper {}
.player-wrapper li {min-width:140px; padding:0 11px 0 0; white-space:nowrap;}
.player-wrapper i {}
.player-wrapper b {text-transform:uppercase;}
/*
navbar-rub
*/
/*-> navbar-rub*/
#subheader-sticky-wrapper .navbar-rub {z-index:600;} /*Patching bootstrap*/
.navbar-rub .navbar-wrapper.navbar-collapse {padding-left:0; padding-right:0;} /*Removing padding*/
.navbar-rub .navbar-wrapper {width:100%; min-width:0 !important;} /*parent is div.container and is set as relative*/
.navbar-rub .navbar-wrapper .navbar-nav-rub-toggle {display:none; position:absolute; top:0; right:1px; float:right; color:#777;}
.navbar-rub .navbar-wrapper > ul.navbar-nav-rub {position:static; float:none; display:block; height:inherit; width:100%; white-space:nowrap; overflow:hidden;}
.navbar-rub .navbar-wrapper > ul.navbar-nav-rub > li {position:static; /*float:none;*/ display:inline-block; vertical-align:top;}
.navbar-rub .navbar-wrapper > ul.navbar-nav-rub > li > a {float:none; display:inline-block; border-bottom:3px; border-bottom-color:transparent;}
/*--> RWD */
@media (max-width: 925px) {
.subheader .ontheair-wrapper .ontheair-badge {display:none;}
/*.navbar-rub .navbar-wrapper .navbar-nav-rub-toggle {display:block;}*/
.navbar-rub .navbar-wrapper.navbar-opened {height:66px !important;} 

}
/*-> navbar-sub-rub*/
.navbar-sub-rub {}
.navbar-sub-rub [id^="navbar-sub-rub-"] {}
.navbar-sub-rub .navbar-sub-rub-list {height:180px; overflow:auto;}

/*
Mobile
*/
@media (min-width:768px){
  .pane-aside {display:none;}
}
@media (max-width:767px){
  /*Menu mobile*/
  html,body {width:100%; height:100%; overflow:hidden; position:relative;}
  #bb5-site-wrapper {position: static !important;}
  .pane-asides .pane-aside {position:absolute; top:0; bottom:0; left:-265px; right:0; width:265px; overflow:auto; -webkit-overflow-scrolling: touch;-webkit-backface-visibility: hidden;}
  .pane-content {position:absolute; top:0; left:0; right:0; bottom:0; z-index:100; overflow:auto; -webkit-overflow-scrolling: touch; overflow-y: scroll; overflow-x: hidden; -webkit-backface-visibility: hidden;
    -moz-box-shadow: 0px 0px 7px 0px #656565; -webkit-box-shadow: 0px 0px 7px 0px #656565; -o-box-shadow: 0px 0px 7px 0px #656565; box-shadow: 0px 0px 7px 0px #656565;
    -webkit-backface-visibility: hidden; -webkit-transform: preserve-3d;
  }
  .pane-wrapper {position:absolute; top:0; left:0; right:0; bottom:0; z-index:90;
     -webkit-transform: translate3d(0px, 0px, 0px); -moz-transform: translate3d(0px, 0px, 0px); -o-transform: translate3d(0px, 0px, 0px); -ms-transform: translate3d(0px, 0px, 0px); transform: translate3d(0px, 0px, 0px);
    transition:all 0.25s linear;-webkit-transition:all 0.25s linear;-moz-transition:all 0.25s linear;-o-transition:all 0.25s linear;
    -webkit-backface-visibility: hidden; -webkit-transform: preserve-3d;
  }
  .pane-content.open:after {content:""; display:block; position:absolute; top:0; bottom:0; left:0; right:0; z-index:99999;}
  .lt-ie9 .pane-content.open:after { border-left:1px solid #CCC;}
  /**/
  .pane-asides .pane-aside .navbar-form {padding:10px;}
  .pane-asides .pane-aside .navbar-nav > li {float:none;}
  /**/
  #portail-bar .collapse, #subheader .collapse {display:none!important;}
  #portail-bar {height:56px; position:relative;}
  #portail-bar > .container {position:absolute; top:0; left:0; right:0;}
  #portail-bar .navbar-header {text-align:center; padding:8px; float:none;}
  #portail-bar .navbar-header .navbar-brand {float:none; display:inline-block;}
  #portail-bar .navbar-header .navbar-toggle {position:absolute; top:8px; left:8px; display:block; margin:8px 10px; vertical-align:middle; margin:0;}
  #portail-bar .navbar-header .btn-search {position:absolute; left:auto; top:8px; right:8px; width:44px; height:34px; line-height:14px;}
  /**/
  .pane-content {overflow:hidden;}
  #pane-content #wrap-mobile {overflow-y: scroll; overflow-x: hidden; -webkit-overflow-scrolling: touch; position:absolute; top:56px; bottom:0; left:0; width:100%;}
  /**/
  #subheader .navbar-header {float:left;}
  #subheader .player-wrapper {margin:7.5px -7px;}
  #subheader .ontheair-wrapper .ontheair-program {display:none;}
  #subheader .ontheair-wrapper .ontheair-badge {display:none;}
  #subheader .search-wrapper {display:none;}
  #subheader .player-wrapper > li {float:left; font-size:12px; min-width:0;}
  #subheader .player-wrapper > li a {padding-left:40px;}
  #subheader .player-wrapper > li a .big-font {font-size:14px;}
  #subheader .player-wrapper > li a .big-font + i {display:none;}
  #subheader .player-wrapper > li a [class^="btn-chaine-"] {font-size:10px; width:30px; height:30px; position:absolute; top:2px; left:0; line-height:24px;}

}

@media (max-width:480px){
  .player-wrapper li {padding-right:6px;}
  #subheader .player-wrapper > li a {padding-left:25px; padding-right:8px;}
  #subheader .player-wrapper > li a .big-font {font-size:10px; letter-spacing:normal;}
  #subheader .player-wrapper > li a [class^="btn-chaine-"] {width:22px; height:22px; top:7px; border-width:1px; font-size:8px; line-height:18px;}
}

#portail-bar {z-index:900; position:relative;}
.subheader {z-index:899;}
#subheader .navbar-rub {z-index:899;}
.navbar-sub-rub {z-index:290;}




