<div {{ this.bb5content(null, {'class': 'container main_containt'})|raw }}>

    {% if this.getObject().getParam('container_title', 'scalar') != '' %}
        <div class="bloc-title-2 triangle-b">
          <div class="border-bx2 border-color color-txt-1">{{ this.getObject().getParam('container_title', 'scalar') }}</div>
        </div>
    {% endif %}

    {{ this.render(container)|raw }}
</div>
