{% set slide_id = 'slide' ~ random() %}
{% if (0 < slides|length or bb.token != null) %}
<div {{ this.bbcontent(null, {class: 'row'})|raw }}>
  <div class="col-sm-12">
    <div id="{{ slide_id }}" class="owl-carousel slider-wrapper slider-fw{% if (bb.token == null) %} slider-loader{% endif %}">
      {{ this.render(slides)|raw }}
    </div>
  </div>
</div>
{% endif %}

<script type="text/javascript">
{% if (bb.token == null) %}
var initSlider = function () {
    var slider = $('#{{ slide_id }} .slider-list'),
        items = slider.parent('.slider-wrapper').find('.owl-item');

    slider.owlCarousel({
      pagination: true,
      singleItem: true,
      navigation: true,
      autoPlay: 6000,
      autoHeight: true,
      lazyLoad: true,
      navigationText: [
        '<i class="fa fa-angle-left"></i>',
        '<i class="fa fa-angle-right"></i>'
      ],
      afterInit: function(){
        slider.parent('.slider-wrapper').removeClass('slider-loader');
      },
      beforeMove: function(){
        items.eq(this.owl.currentItem)
             .find('.figcaption .ttl')
             .removeClass('animated fadeIn');
      },
      afterMove: function(){
        items.eq(this.owl.currentItem)
             .find('.figcaption .ttl')
             .addClass('animated fadeIn');
      }
    });
  };

document.addEventListener('DOMContentLoaded', initSlider);
{% endif %}
</script>