<div {{ this.bbcontent()|raw }}>
  <div{% if (bb.token == null) %} class="slider-item"{% endif %}>
    <figure class="figure">
      {{ this.render(picture, 'slide')|raw }}
      <figcaption class="figcaption">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h2 class="ttl">
                <a href="#">
                  <span {{ this.bbcontent(description)|raw }}>
                    {{ description.value|raw }}
                  </span{>
                </a>
              </h2>
            </div>
          </div>
        </div>
      </figcaption>
    </figure>
  </div>
</div>