<!DOCTYPE html>
<html lang="fr">

    {{ this.partial('partials/header-head.twig')|raw }}

    <body>
        {{ this.bbtoolbar()|raw }}

        <div id="bb5-site-wrapper">
            <div class="pane-wrapper" id="pane-wrapper">
                <!-- Mobile Menu Pane -->
                <div class="pane-asides">
                    <div class="pane-aside" id="pane-menu">
                    </div>
                </div>
                <!-- End Mobile Menu Pane -->

                <!-- Content Pane -->
                <div class="pane-content" id="pane-content">

                    <div id="wrap-mobile">

                        <!-- Wrap all page content here -->
                        <div id="wrap">
                            <div class="container main_containt rub1">

                                <div class="row relative" id="bb5-mainLayoutRow">
                                    <div class="col-sm-12 col-md-10">
                                        {{ this.container().first()|raw }}
                                    </div>

                                    <div class="col-md-2 visible-md" id="sidebar" data-scroller="true">
                                        {{ this.container().next()|raw }}
                                    </div>
                                </div>

                            </div>

                        </div><!--/WRAP-->

                    </div><!--/END WRAP MOBILE-->

                </div><!-- End Content Pane -->

            </div><!-- End pane-wrapper -->

        </div><!-- End BB5-site-wrapper -->

    </body>
</html>
