<div id="footer">
    <div class="container">
    	<p class="text-muted credit">Visit <a href="http://www.backbee.com" target="_blank">BackBee.com</a>.</p>
    </div>
</div>

<!-- Script: Text overflow ellipsis -->
<script type="application/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="{{ this.getResourceUrl('js/ellipsis.js') }}"></script>
